 <!--Header-Upper-->
            <div class="header-upper">
                <div class="auto-container">
                    <div class="clearfix">

                        <div class="pull-left logo-outer">
                            <div class="logo"><a href="index.html"><img width=250 height=80 src="~/theme/images/SandoghLogo2.jpg" alt="" title=""></a></div>
                        </div>

                        <div class="pull-right upper-right clearfix">

                            <!--Info Box-->
                            <div class="info-box">
                                <div class="inner-box">
                                    <div class="icon-box"><span class="flaticon-technology"></span></div>
                                    <ul>
                                        <li>با ما تماس بگیرید</li>
                                        <li><strong class="ltr-text">0912 345 67 89</strong></li>
                                    </ul>
                                </div>
                            </div>

                            <!--Info Box-->
                            <div class="info-box">
                                <div class="inner-box">
                                    <div class="icon-box"><span class="flaticon-location-pin"></span></div>
                                    <ul>
                                        <li>ایمیل</li>
                                        <li><strong>SandoghFalmily@mail.com</strong></li>
                                    </ul>
                                </div>
                            </div>

                            <!--Info Box-->
                            <div class="info-box">
                                <!--search-box-->
                                <!--Quote Btn-->
                                <div class="quote-btn"><a href="contact.html" class="get-quote-btn theme-btn">ارتباط با ما</a></div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!--End Header Upper-->