@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<textarea id="Description"></textarea>



<script src="~/lib/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('Description', {
        language: 'fa',
        contentsLangDirection: 'rtl',
        height: 270,
        filebrowserBrowseUrl : '/Home/myFileManager',
        //filebrowserUploadMethod = 'form',
    });
</script>