
@{
    ViewData["Title"] = "ورود";
}

<table class="table table-bordered table-primary">
    <thead>
        <tr>
            <td>نام</td>
            <td>نام خانوادگی</td>
           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@User.Identity.Name</td>
            <td>@User.Identity.Name</td>
        
            
        </tr>
    </tbody>
</table>