@model Sandogh.Admin.EndPoint.Models.VIewModels.Account.LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 3 | Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/theme/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="~/theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/theme/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Bootstrap 4 RTL -->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css">
</head>

<body class="hold-transition login-page" style="background-image: url(/loginbg2.jpg);background-size:cover">
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>صندوق قرض الحسنه  </b>  فامیلی </a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">ورود به پنل مدیریت</p>

    <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
             
                <input asp-for="Email" class="form-control" placeholder="ایمیل" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input asp-for="Password" class="form-control" placeholder="رمز عبور" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
             
                <input asp-for="ReturnUrl" type="hidden" />
              
            </div>
            <div class="form-group">
                <input type="submit" value="ورود" class="btn btn-block btn-primary" />
            </div>
        </form>

   
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="#">رمز عبورم را فراموش کردم</a>
      </p>
    
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="~/theme/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
