  <!--Sticky Header-->
            <div class="sticky-header">
                <div class="auto-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="index.html" class="img-responsive"><img src="~/theme/images/logo-small.png" alt="" title=""></a>
                    </div>

                    <!--Right Col-->
                    <div class="right-col pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="dropdown current">
                                        <a href="#">خانه</a>
                                        <ul>
                                            <li><a href="index.html">خانه 1</a></li>
                                            <li><a href="index-2.html">خانه 2</a></li>
                                            <li class="dropdown">
                                                <a href="#">طرح های سرصفحه</a>
                                                <ul>
                                                    <li><a href="index.html">طرح سرصفحه 1</a></li>
                                                    <li><a href="index-2.html">طرح سرصفحه 2</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">درباره ما</a>
                                        <ul>
                                            <li><a href="about.html">درباره ما</a></li>
                                            <li><a href="team.html">تیم</a></li>
                                            <li><a href="error.html">صفحه خطا</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">خدمات</a>
                                        <ul>
                                            <li><a href="services.html">خدمات 1</a></li>
                                            <li><a href="services-2.html">خدمات 2</a></li>
                                            <li><a href="service-detail.html">جزئیات خدمت</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">پروژه ها</a>
                                        <ul>
                                            <li><a href="project.html">پروژه ها</a></li>
                                            <li><a href="project-detail.html">جزئیات پروژه</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">فروشگاه</a>
                                        <ul>
                                            <li><a href="shop.html">فروشگاه</a></li>
                                            <li><a href="shop-single.html">جزئیات محصول فروشگاه</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">بلاگ</a>
                                        <ul>
                                            <li><a href="blog.html">بلاگ ما</a></li>
                                            <li><a href="blog-single.html">جزئیات مطلب بلاگ</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">تماس با ما</a></li>
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                    </div>

                </div>
            </div>
            <!--End Sticky Header-->