
<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - Sandogh.WebSite.EndPoint</title>

    <!-- Stylesheets -->
    <link href="~/theme/css/bootstrap.css" rel="stylesheet">
    <link href="~/theme/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
    <link href="~/theme/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
    <link href="~/theme/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
    <link href="~/theme/css/style.css" rel="stylesheet">
    <link href="~/theme/css/responsive.css" rel="stylesheet">

    <!--Color Switcher Mockup-->
    <link href="~/theme/css/color-switcher-design.css" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" href="~/theme/css/color-themes/default-theme.css" rel="stylesheet">
    <meta name="theme-color" content="#ffc11b">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/theme/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/theme/images/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <header class="main-header header-style-two">

            @await Component.InvokeAsync("HeaderTopVC")
            @await Component.InvokeAsync("HeaderUpperVC")
            @await Component.InvokeAsync("StickyheaderVC")

        </header>
        <!--End Main Header -->
        <!--Page Title-->
        <section class="page-title" style="background-image:url(/theme/images/background/4.jpg);">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Title -->
                    <div class="title-column col-md-6 col-sm-8 col-xs-12">
                        <h1>تماس با ما</h1>
                    </div>
                    <!--Bread Crumb -->
                    <div class="breadcrumb-column col-md-6 col-sm-4 col-xs-12">
                        <ul class="bread-crumb clearfix">
                            <li><a href="index.html">خانه</a></li>
                            <li class="active">تماس با ما</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        @RenderBody()




        @await Component.InvokeAsync("FooterVC")

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-long-arrow-up"></span></div>



    <!-- /.End Of Color Palate -->



    <script src="~/theme/js/jquery.js"></script>
    <script src="~/theme/js/jquery-ui.js"></script>
    <script src="~/theme/js/bootstrap.min.js"></script>
    <script src="~/theme/js/jquery.fancybox.pack.js"></script>
    <script src="~/theme/js/jquery.fancybox-media.js"></script>
    <script src="~/theme/js/owl.js"></script>
    <script src="~/theme/js/appear.js"></script>
    <script src="~/theme/js/wow.js"></script>
    <script src="~/theme/js/mixitup.js"></script>
    <script src="~/theme/js/main-slider-script.js"></script>
    <script src="~/theme/js/jquery.bootstrap-touchspin.js"></script>
    <script src="~/theme/js/script.js"></script>



    <!--Revolution Slider-->
    <script src="~/theme/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/theme/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/theme/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/theme/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/theme/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/theme/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/theme/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/theme/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/theme/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/theme/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/theme/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>




    <!--Color Switcher-->
    <script src="~/theme/js/color-settings.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
